/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.hfads-holder {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

.hfads-holder .desktop-view {
    display: block;
}

.hfads-holder .mobile-view {
    display: none;
}

@media screen and (max-width: 480px) {
    .hfads-holder .desktop-view {
        display: none;
    }

    .hfads-holder .mobile-view {
        display: block;
    }
}

.hfads-holder .hfads-closing {
    display: block;
    position: absolute;
    right: 32px;
    padding: 4px;
    text-shadow: 0 1px 1px #fff;
}

.hfads-header .hfads-closing {
    top: 0;
    right: 0;
}

.hfads-footer .hfads-closing {
    top: 0;
}
