/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.hfads-holder {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}
